<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 정보 갱신</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
  <h1>회원 정보 갱신창</h1>
  <form action="/updateUser" method="post">
    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" value="${accInfoVO.userId}" readonly><br>

    <label for="userPw">새로운 비밀번호 (8-20 characters):</label>
    <input type="password" id="userPw" name="userPw"><br>

    <label for="userPhone">New Phone Number:</label>
    <input type="text" id="userPhone" name="userPhone"><br>

    <button type="submit">Update</button>
  </form>
</body>

</html>